* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(120deg, #b7ff3c, #f5ff00);
    color: #000;
    background-repeat: no-repeat
}

/* STICKY HEADER */
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #eee;
}

/* NAVBAR */
.navbar {
    max-width: 1300px;
    margin: auto;
    padding: 22px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
}

.logo-box {
    border: 2px solid #000;
    padding: 2px 7px;
    margin-right: 6px;
}

/* LINKS */
.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

/* underline animation (except HOME) */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #000;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* HOME underline remove */
.no-underline::after {
    display: none;
}

/* BUTTON */
.hire-btn {
    padding: 14px 28px;
    background: #071c2f;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.hire-btn:hover {
    background: #000;
    transform: translateY(-2px);
}

/* MOBILE MENU ICON */
.menu {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu span {
    width: 26px;
    height: 3px;
    background: #000;
}

/* ===== MINI LAPTOP ===== */
@media (max-width:1200px) {
    .nav-links {
        gap: 25px;
    }

    .hire-btn {
        padding: 12px 22px;
        font-size: 13px;
    }
}

/* ===== TABLET ===== */
@media (max-width:992px) {
    .menu {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
    }

    .menu span {
        width: 26px;
        height: 3px;
        background: #000;
    }

    .nav-links {
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        padding: 30px 0;
        transform: translateY(-200%);
        transition: 0.4s ease;
        z-index: 999;
    }

    .nav-links.active {
        transform: translateY(0);
    }

    .hire-btn {
        display: none;
    }
}

/* ===== MOBILE ===== */
@media (max-width:568px) {
    .nav-links {
        gap: 18px;
    }

    .nav-links a {
        font-size: 13px;
    }
}

/* SECTION */

.about {
    padding: 120px 10%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

/* LEFT IMAGE */

.about-left {
    position: relative;
    width: 420px;
}

.about-left img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

/* BORDER BOX */

.border-box {
    position: absolute;
    top: -40px;
    left: 40px;
    width: 420px;
    height: 420px;
    border: 3px solid #21e6c1;
    z-index: 1;
}

/* BUTTON */

.resume-btn {
    margin-top: 40px;
    padding: 16px 40px;
    background: #21e6c1;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 20px #21e6c1;
    transition: 0.3s;
}

.resume-btn:hover {
    box-shadow: 0 0 40px #21e6c1;
    transform: translateY(-3px);
}

/* RIGHT CONTENT */

.about-right {
    max-width: 600px;
}

.about-right h1 {
    color: #21e6c1;
    font-size: 48px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

/* DESCRIPTION */

.desc {
    line-height: 1.9;
    margin-bottom: 30px;
    color: #9aa7b7;
}

/* DETAILS */

.details p {
    margin-bottom: 18px;
    font-size: 17px;
}

.details span {
    color: #21e6c1;
    font-weight: 600;
}

/* RESPONSIVE */

@media(max-width:900px) {

    .container {
        flex-direction: column;
        text-align: center;
    }

    .border-box {
        left: 0;
    }

}


.skill-section {
    padding: 100px 0;
}

.slider-container {
    padding: 0 150px;
    margin: auto;
    overflow: hidden;
}

.slider-track {
    display: flex;
    gap: 20px;
    transition: transform 0.8s ease-in-out;
}

.card {
    min-width: 280px;
    height: 140px;
    /* background:#e4e4e4; */
    /* border-radius:20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size:40px; */
    /* font-weight:bold; */
}

.imgss {
    height: 450px;
}

/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #0f172a, #020617);
    color: white;
} */

.section-title {
    text-align: center;
    font-size: 42px;
    margin-bottom: 60px;
}

.skills-container {
    max-width: 900px;
    margin: auto;
}

.skill-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    transition: 0.4s;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.skill-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skill-bar {
    width: 100%;
    height: 12px;
    background: rgb(196, 189, 189);
    border-radius: 20px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    width: 0;
    border-radius: 20px;
    background-color: #fff;
    transition: width 2s ease;
}

.hed {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.img-size {
    width: 350x;
    width: 280px;
}

.footer-contact {
    background-color: #000;
    background-size: cover;
    padding: 80px 10%;
    color: white;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* Left */
.logo {
    font-size: 50px;
    font-weight: bold;
}

.footer-nav a {
    display: inline-block;
    margin: 10px 15px 10px 0;
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

.footer-nav a:hover {
    color: #00aaff;
}

.copyright {
    margin-top: 30px;
    color: #666;
}

/* Middle */
.footer-middle {
    background: #eaeaea;
    color: black;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
}

.contact-box {
    background: #021522;
    color: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.contact-box:hover {
    transform: translateX(10px);
}

/* Right */
.footer-right {
    background: #eaeaea;
    color: black;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.social-icons div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons div:hover {
    background: #00aaff;
    color: white;
    transform: scale(1.1);
}

.subscribe {
    display: flex;
    margin-top: 10px;
}

.subscribe input {
    flex: 1;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #ccc;
}

.subscribe button {
    padding: 10px 15px;
    border: none;
    background: #021522;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.terms {
    display: block;
    margin-top: 10px;
}

/* Scroll Top Button */
.scrollTop {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #021522;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

/* responsive */
/* ===============================
   RESPONSIVE DESIGN
=================================*/

/* ===== Laptop ===== */
@media (max-width:1200px) {
    .container {
        gap: 40px;
    }

    .about-left {
        width: 350px;
    }

    .border-box {
        width: 350px;
        height: 350px;
    }

    .slider-container {
        width: 100%;
        padding: 0 20px;

    }
}


/* ===== Tablet ===== */
@media (max-width:992px) {

    .container {
        flex-direction: column;
        text-align: center;
    }

    .about-left {
        width: 300px;
    }

    .border-box {
        width: 300px;
        height: 300px;
        left: 0;
        top: -30px;
    }

    .about-right h1 {
        font-size: 36px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-middle,
    .footer-right {
        width: 100%;
        max-width: 400px;
    }

    .slider-track {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* ===== Mobile ===== */
@media (max-width:576px) {

    .navbar {
        padding: 15px;
    }

    .logo {
        font-size: 20px;
    }

    .about {
        padding: 80px 20px;
    }

    .about-left {
        width: 250px;
    }

    .border-box {
        width: 250px;
        height: 250px;
    }

    .about-right h1 {
        font-size: 28px;
    }

    .desc {
        font-size: 14px;
    }

    .details p {
        font-size: 14px;
    }

    .section-title {
        font-size: 28px;
    }

    .skill-card {
        padding: 15px;
    }

    .slider-container {
        width: 100%;
    }

    .card {
        min-width: 220px;
        height: 120px;
    }

    .footer-contact {
        padding: 50px 20px;
    }

    .scrollTop {
        right: 15px;
        bottom: 15px;
    }

    .slider-track {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.btn {
    display: none;
}

@media (max-width:1024px) {
    .hidden {
        display: none;
    }

    .btn {
        display: inline;
    }
}

.bott {
    color: #fff;
    text-decoration: none;
}